info-nce-pytorch  #https://github.com/RElbers/info-nce-pytorch
numpy==1.21.6
matplotlib==3.5.3
pyyaml==6.0.1
tensorboardx==2.6.2.2
ftfy regex tqdm                               #https://github.com/openai/CLIP
git+https://github.com/openai/CLIP.git
moviepy==1.0.3
librosa==0.10.1



